@using MVC_Example.Models;

@{ Employee employee = (Employee)ViewData["Data"]; }

<br><br><br>

<h1 class="title is-1 has-text-centered">Edit Employee</h1>

<br>

<form asp-asp-controller="Site" asp-action="EditEmployee" method="post">
    <div class="field">
        <label class="label">Id</label>
        <div class="control">
            <input class="input" type="text" value="@employee.Id" disabled>
            <input type="hidden" name="employeeId" value="@employee.Id">
        </div>
    </div>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" name="employeeName" value="@employee.Name">
        </div>
    </div>
    <div class="field">
        <label class="label">Salary</label>
        <div class="control">
            <input class="input" type="text" name="employeeSalary" value="@employee.Salary">
        </div>
    </div>
    <input class="button is-link" type="submit" value="Submit">
    <a class="button is-secondary" asp-controller="Site" asp-action="AllEmployees">Back</a>
</form>
